@use "../utils/variables" as *;

.operator-button {
  background-color: $operator-color;

  &:hover {
    background-color: $operator-hover-color;
  }

  &:active {
    background-color: $text-color;
    color: $operator-hover-color;
  }
}
