.calculator {
  display: grid;
  grid-template: 2fr 1fr 10fr / 1fr;
  width: 75%;
  height: 75%;
  gap: 1rem;

  &__buttons {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}
